
.blogCreationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }
  
  
  .blogCreationForm input[type=file] {
    width: 300px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
  }
  
  .blogCreationForm input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    transition: width .2s ease;
    width: 150px;
  }
  
  .blogCreationForm input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }
  
  .fileUploadContainerWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .fileUploadContainer{
    position: relative;
    width: fit-content;
  }
  
  .uploadButton{
    position: absolute;
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    transition: width .2s ease;
    width: 0px;
    height: 40px;
    text-align: center;
    z-index: -1;
    
  
    left:6px;
    bottom: 3px;
    
    font-weight: bold;
    background-color: red;
    transition: 1s ease;
    opacity: 0;
  
  }
  
  .uploadButtonActive{
    opacity: 1;
    width: 50%;
    background-color: green;
    transition: 1.5s ease;
    z-index: 1;
  }
  
  .uploadXButton{
    position: absolute;
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    transition: width .2s ease;
    width: 0px;
    height: 40px;
  
    text-align: center;
    z-index: -1;
  
    right:-15px;
    bottom: 3px;
    
    font-weight: bold;
    background-color: red;
    transition: 1s ease;
    opacity: 0;
  }
  
  .uploadXButtonActive{
    opacity: 1;
    width: 47%;
    transition: 1.5s ease;
    
    z-index: 1;
  }

  .imageDivBlog{
    position: relative;
  }

  .imageDivBlog img{
    position: relative;
  }

  .imageDivBlog .datesBlog{
    position: absolute;
    top: 0;
    left: 0;
  }

  .mainBlogPhotoDiv{
    width: 600px;
    height: 600px;
    position: relative;
  }

  .blogFilterWrapper{
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .blogFilterWrapperIdPage{
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
  }

  .blogFilterWrapperIdPage p{
    background-color: #6bbe45;
    color: white;
    font-weight: bold;

    border-radius: 5px;
    height: 30px;
    width: 80px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blogFilter{
    background-color: #6bbe45;
    color: white;
    font-weight: bold;

    border-radius: 5px;
    height: 30px;
    width: 80px;
    position: absolute;
    text-align: center;
    top: -15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  .datesBlog{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    background-color: #6bbe45;
    color: white;
    font-weight: bold;
    padding: 10px 10px;

    clip-path: polygon(0% 80%, 50% 100%, 100% 80%, 100% 0%, 0% 0%);
  }

  .previewDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .htmlRenderer{    
    width: 400px;
  }

  .blogs-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    place-items: center;
    align-items: initial;

    /* display: flex;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
    gap: 50px;
    flex-wrap: wrap; */
  }

  .blogItem{
    height: 750px;
    width: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .blogItem a{
    background-color: #6bbe45;
    border: none;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

    text-decoration: none;

    transition: 0.2s ease;
    margin-bottom: 25px;
  }

  .blogItem a:hover{
    scale: 1.1;

    transition: 0.2s ease;
  }

  .titluSiAutorBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .titluSiAutorBlog h2{
    width: 95%;
    text-align: center;
  }

  .titluSiAutorBlog p{
    font-size: 15px;
  }

  .titluSiAutorBlog p span{
    font-size: 17px;
    font-weight: bold;
  }

  .blogTitle{
    font-size: 22px;
  }

  .createBlogWrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;

    color: white;
  }

  .createBlogLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 250px;

    text-decoration: none;
    cursor: pointer;

    background-color: #6bbe45;

    font-weight: bold;
    font-size: 25px;
  }



  .blogAndArticleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px;
    width: 90%;
    margin-left: 5%;
  }

  .blogContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 600px;
    padding: 20px 0 20px 0;
  }

  .titleAndAuthorContent{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    
    width: 550px;
    gap: 10px;
  }

  .blogFilter.blogIdPage{
    top: 20px;
  }
  
  .blogText{
    width: 600px;
  }
  
  .articleListAndFinder{
    position: sticky;
    top: 20px;
    margin: 20px 0 20px 0;
    height: 100%;
    width: 600px;


    display: flex;
    flex-direction: column;
    gap: 20px;
    
    padding: 20px 20px;
    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  } 

  .littleBlogsDivWrapper{
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }

  .littleBlogsDivWrapper:last-of-type{
    border-bottom: none;
  }

  .littleBlogsDiv{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .littleBlogsDivTitleNData{
    display: flex;
    flex-direction: column;
    height: 70px;

    text-decoration: none;

    
    transition: 0.5s ease;
  }

  .littleBlogsDivTitleNData:hover{
    color: grey;

    transition: 0.5s ease;
  }

  .littleBlogsDivTitleNData p{
    margin-top: auto;
  }

  .littleBlogsNavigation{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
  }

  .littleBlogsNavigation a{
    text-decoration: none;
    transition: 0.1s ease;
  }

  .littleBlogsNavigation a:hover{
    text-decoration: none;
    color: #6bbe45;
    transition: 0.1s ease;
  }

  .littleBlogsNavigation p{
    font-weight: bold;
    font-size: 18px;
  }


  .littleBlogsSearch{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
  }

  .littleBlogsSearch p{
    font-weight: bold;
    font-size: 18px;
  }

  .articleListAndFinder p:nth-child(3){
    font-weight: bold;
    font-size: 18px;
  }

  .littleBlogsSearchInputDiv{
    position: relative;
  }

  /* .littleBlogsSearchInputDiv input{
    height: 40px;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 30px;
    width: 100%;

    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
  } */

  .searchBarBlogsClosed{
    height: 40px;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 30px;
    width: 100%;
  }

  .searchBarBlogsOpen{
    height: 40px;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 30px;
    width: 100%;

    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
  }

  .littleBlogsSearchInputDiv svg{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 12px;
  }

  .blogSearchBarMap{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .blogSearchBarMap div{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .blogSearchBarMap div h4{
    font-size: 15px; 
  }
  
  .searchFilterMapBlogs{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    gap: 50px;

    position: absolute;
    top: 39px;

    background-color: white;
    
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 15px;
  }


  @media (max-width: 1200px) {
    .articleListAndFinder{
      display: none;
    }
  }