.wrapper403{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.wrapperOfWrapper403{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 100px 50px;
    text-align: center;
    height: 90%;
    width: 90%;
    max-height: 400px;
    max-width: 400px;
}

.infoErr403{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoErr403 p{
    width: 80vw;
    max-width: 380px;
}

.image403 svg{
    width: 60px;
    height: 60px;
    color: red;
}

.buttonErr403 button{
    padding: 10px 20px;
    border: 2px solid black;
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.languageSelector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}

.languageSelector svg{
    width: 40px;
}

.languageList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 25px;
    top: 40px;
    z-index: 100;
    width: 40px;
    height: calc(100% + 100px);
    background-color: rgba(255,255,255,0.8);
}
  