
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../publicResources/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../publicResources/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../publicResources/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../publicResources/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../publicResources/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../publicResources/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

button {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0,0,0, 0.05);
}

ul {
  padding-left: 2em;
}

li {
  margin-bottom: 0.5em ;
}

ol {
  padding-left: 2em;
}



input[type=file] {
  width: 300px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  transition: width .2s ease;
  width: 150px;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.fileUploadContainerWrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}

.fileUploadContainer{
  position: relative;
  width: fit-content;
}

.uploadButton{
  position: absolute;
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  transition: width .2s ease;
  width: 0px;
  height: 40px;
  

  left:6px;
  top: 3px;
  
  font-weight: bold;
  background-color: red;
  transition: 1s ease;
  opacity: 0;

}

.uploadButtonActive{
  opacity: 1;
  width: 50%;
  background-color: green;
  transition: 1.5s ease;
}

.uploadXButton{
  position: absolute;
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  transition: width .2s ease;
  width: 0px;
  height: 40px;
  line-height: 1;

  right:-15px;
  top: 3px;
  
  font-weight: bold;
  background-color: red;
  transition: 1s ease;
  opacity: 0;
}

.uploadXButtonActive{
  opacity: 1;
  width: 47%;
  transition: 1.5s ease;
}

