.imageButtons a {
    text-decoration: none;
}

.imageSection img {
    width: 100vw;
    height: 300px;
    filter: brightness(45%);
    object-fit: cover;
}

.imageSection{
    position: relative;
}

.imageInfo{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%,50%);
    font-size: 45px;
    width: 100%;
    text-align: center;
    color: white;
}

span.woodColor{
    color: #d18034;
    font-weight: bold;
}

.ekoColor{
    color: #6bbe45;
    font-weight: bold;
}

.imageButtons{
    display: flex;
    gap: 10%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    margin-top: 10%;
}

.imageButtons button{
    width: 45vw;
    height: 2rem;   
    cursor: pointer;
}

.imageButtons a{
    width: 100%;
    font-size: 0.9rem;
}

.imageButtons button:first-of-type{
    filter: brightness(100%);
    border: transparent;
    border-radius: 50px;
    background-color: #6bbe45;
    transition: 500ms ease-out;
    color: white;
    font-weight: bold;  
    scale: 1; 
}

.imageButtons button:hover{
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imageButtons button:last-of-type{
    border: none;
    color: white;
    border-radius: 50px;
    transition: 300ms ease-out;
    background-color: #d18034;   
}

@media only screen and (min-width: 760px){
    .imageSection img{
        width: 100%;
        height: 500px;
        filter: brightness(45%);
    }

    .imageSection{
        position: relative;
    }

    .imageInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 55px;
    }

    .woodColor{
        color: #985e26;
        font-weight: bold;
    }

    .ekoColor{
        color: #6bbe45;
        font-weight: bold;
    }

    .imageButtons{
        display: flex;
        gap: 100px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,50%);
        margin-top: 6.25rem;
    }

    .imageButtons button{
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
        cursor: pointer;
    }

    .imageButtons button:first-of-type{
        filter: brightness(100%);
        border: transparent;
        border-radius: 50px;
        background-color: #6bbe45;
        transition: 500ms ease-out;
        color: white;   
        font-weight: bold;
    }

    .imageButtons button:last-of-type{
        border: 2px solid #985e26;
        color: white;
        font-weight: bold;
        border-radius: 50px;
        transition: 300ms ease-out;
        background-color: #985e26;   
    }

}
