.imageButtons a {
    text-decoration: none;
}

    .imageSection img{
        width: 100vw;
        height: 300px;
        filter: brightness(50%);
        object-fit: fill;
    }

.imageSection{
    position: relative;
}

.imageInfo{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%,50%);
    font-size: 1.9rem;
    width: 100%;
    text-align: center;
    color: white;
}

span.woodColor{
    color: #d18034;
    font-weight: bold;
}

.ekoColor{
    color: #6bbe45;
    font-weight: bold;
}

.imageButtons{
    display: flex;
    gap: 10%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    margin-top: 10%;
}

.imageButtons button{
    font-size: 1rem;
    width: 12rem;
    height: 2rem;   
    cursor: pointer;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35)
}

.imageButtons button:first-of-type{
    filter: brightness(100%);
    border: transparent;
    border-radius: 50px;
    background-color: rgba(48, 48, 230, 0.8);
    transition: 500ms ease-out;
    color: white;   
}

.imageButtons button:first-of-type:hover{
    transition: 200ms ease-in;
    background-color: rgba(48, 48, 230,1);
}

.imageButtons button:last-of-type{
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    transition: 300ms ease-out;
    background-color: rgba(200, 200, 200, 0.2);   
}

.imageButtons button:last-of-type:hover{
    transition: 200ms ease-in;
    background-color: rgba(200, 200, 200, 0.5);
}

@media only screen and (min-width: 760px){
    .imageSection img{
        width: 100%;
        height: 500px;
        filter: brightness(45%);
    }

    .imageSection{
        position: relative;
    }

    .imageInfo{
        position: absolute;
        top: 10%;
        right: 50%;
        width: 100%;
        transform: translate(50%,50%);
        font-size: 3.2vw;
        
        text-align: center;
        color: white;
    }

    .woodColor{
        color: #985e26;
        font-weight: bold;
    }

    .ekoColor{
        color: #6bbe45;
        font-weight: bold;
    }

    .imageButtons{
        display: flex;
        gap: 100px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,50%);
        margin-top: 6.25rem;
    }

    .imageButtons button{
        font-size: 1rem;
        width: 10rem;
        height: 2.5rem;
        cursor: pointer;
    }

    .imageButtons button:first-of-type{
        filter: brightness(100%);
        border: transparent;
        border-radius: 50px;
        background-color: rgba(48, 48, 230, 0.8);
        transition: 500ms ease-out;
        color: white;   
    }

    .imageButtons button:first-of-type:hover{
        transition: 200ms ease-in;
        background-color: rgba(48, 48, 230,1);
    }

    .imageButtons button:last-of-type{
        border: 2px solid white;
        color: white;
        border-radius: 50px;
        transition: 300ms ease-out;
        background-color: rgba(200, 200, 200, 0.2);   
    }

    .imageButtons button:last-of-type:hover{
        transition: 200ms ease-in;
        background-color: rgba(200, 200, 200, 0.5);
    }
}
