.reviewRatingSection_stars{
    color: #FFD700;
    font-size: 40px;
}

.reviewRatingSection_time{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bold;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 20px;
    font-size: 25px;
    word-break: break-word;
}

.reviewForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 10px;
}

.reviewInputBoxes{
    position: relative;
    width: 90%;
    max-width: 350px;
}

.reviewInputBoxes input{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    outline: none;
    font-size: 1em;
}

.reviewInputBoxes span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1.5em;
    color: black;
    text-transform: uppercase;
    transition: 100ms ease-in;
}

.reviewInputBoxes input:valid ~ span,
.reviewInputBoxes input:focus ~ span {
    color: black;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight: 500;
    transform: translateX(10px) translateY(-7px);
    padding: 0px 10px;
    font-size: 1em;
}

.reviewForm select{
    width: 90%;
    max-width: 350px;
    height: 50px;
    font-size: 20px;
    font-family: inherit;
    border-radius: 5px;
    font-weight: bold;
    transition: 200ms ease-in;
    border: 1px solid black;
    padding: 0 1em 0 0;
}

.reviewForm button {
    width: 90%;
    max-width: 350px;
    border: transparent;
    background: linear-gradient(-105deg, rgb(43,43,250), black);
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
    color: white;
}

.reviewGrid{
    display: flex;
    gap:10px;
}

.reviewRatingSection{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: 90%;
    height: 300px;
    text-align: center;
    gap: 25px;
    background-color: #e0e0e0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .3s;
    margin-top: 50px;
}

.reviewTitles{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.274);
    border: transparent;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.2s ease-in-out;
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  button.prev {
    left: 20px;
  }
  
  button.next {
    right: 20px;
  }


.reviewRatingSection:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    opacity: 1;
}

.reviewRatingSection_text{
    font-size: 90%;
    width: 95%;
    margin-left: 2.5%;
    word-break: break-word;
}


div .reviewRatingSection_username{
    font-size: 25px;
    width: 90%;
    position: absolute;
    left: 0;
    top: 20px;
}

.reviewRatingSection_title{
    margin-top: 20px;
    font-size: 25px;
    width: 99%;
    font-weight: bold;
}

.reviewRatingSection_username p{
    font-weight: bold;
}

.reviewRatingSection_username p span{
    font-weight: normal;
}

.reviewDeleteButton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: transparent;
    margin-left: 5%;
    cursor: pointer;
}

.reviewSuccesMessage{
    color: rgb(75, 238, 75);
    font-weight: bold;
}

.notLoggedIn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100%;
}

.notLoggedIn a{
    text-decoration: none;
    color: red;
}

.reviewMain h1:first-of-type{
    text-align: center;
    font-size: 40px;
    margin: 20px 0px 20px 0px;
}

.review-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    justify-items: center;
  }
  
  .review {
    background-color: rgba(128, 128, 128, 0.2);
    width: 400px;
    height: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  .reviewPhotos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  