.cartSectionMobile{
    position: relative;
    width: 100%;
    height: 100%;
}


.cartSectionMobile svg {
    width: 35px;
    height: 35px;
}

.productCountMobileBackground{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(43,43,230);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cartSectionMobile p{
    font-size: 10px;
    color: white;
}